*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/Whitney-Book.woff2) format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: normal;
    src: url(../assets/fonts/Whitney-BookItalic.woff2) format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: bold;
    src: url(../assets/fonts/Whitney-Bold.woff2) format("woff2");
}

:root {
    --typo1: Whitney, Arial, Helvetica, sans-serif;
    --mainColor: #27292c;
    --fontColor: #ffffff;
    --linkColor: #00aff4;
    --linesColor: #ffffff10;
    --htmlColor: #e95532;
    --cssColor: #0b6db7;
    --sassColor: #d1699a;
    --javascriptColor: #f3e55e;
    --jqueryColor: #74cdf3;
    --reactColor: #58d9f8;
    --phpColor: #8c91bc;
    --regexColor: #a86251;
    --webdesignColor: #fc9d31;
    --udemyColor: #c82fef;
    --discordColor: #5662f6;
    --yoububeColor: #ff2a1f;
}

html {
    font-size: 62.5%;
}

body {
    font-family: var(--typo1);
    font-size: 1.8rem;
    background-color: var(--mainColor);
    color: var(--fontColor);
    width: 80vw;
    max-width: 85rem;
    word-wrap: break-word;
    margin: 5rem auto;
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: var(--linkColor);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }

    // &.youtube {
    //     color: var(--yoububeColor);
    // }
}

main {
    h1 {
        span {
            display: block;
            font-size: 0.5em;
            font-weight: normal;
            font-style: italic;
        }
    }

    h2 {
        padding-left: 3.5rem;
        margin: 4rem 0 2rem 0;

        a {
            color: var(--fontColor);
            &:hover {
                text-decoration: none;
            }
        }
    }

    section {
        position: relative;
        margin-bottom: 5rem;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 1.3rem;
            width: 0.3rem;
            height: calc(100% - 4rem);
            border-radius: 0.3rem;
            background-color: var(--linesColor);
        }

        &.html::before {
            background-color: var(--htmlColor);
        }

        &.css::before {
            background-color: var(--cssColor);
        }

        &.sass::before {
            background-color: var(--sassColor);
        }

        &.javascript::before {
            background-color: var(--javascriptColor);
        }

        &.jquery::before {
            background-color: var(--jqueryColor);
        }

        &.react::before {
            background-color: var(--reactColor);
        }

        &.php::before {
            background-color: var(--phpColor);
        }

        &.regex::before {
            background-color: var(--regexColor);
        }

        &.webdesign::before {
            background-color: var(--webdesignColor);
        }

        &.udemy::before {
            background-color: var(--udemyColor);
        }
    }

    section > ul {
        padding-left: 5rem;
    }

    li {
        list-style-type: none;

        &.titles {
            max-width: max-content;
            position: relative;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;

            a {
                color: var(--fontColor);
                &:hover {
                    text-decoration: none;
                }
            }

            .copyToDiscord {
                position: absolute;
                top: -0.3rem;
                right: -3.5rem;

                &:hover {
                    cursor: pointer;
                }
            }
            .copyMsg {
                position: absolute;
                top: 50%;
                word-break: normal;
                width: max-content;
                transform: translate(4rem, -50%);
                font-size: 1.6rem;
                text-decoration: none;
                color: var(--discordColor);
            }
        }

        &.titles:not(:first-child) {
            margin-top: 2rem;
        }

        &.titles::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.2rem;
            background-color: var(--fontColor);
        }

        .infos {
            font-style: italic;
        }

        &.links {
            margin-bottom: 0.5rem;
        }
    }
}

footer {
    display: flex;
    place-content: center;

    a {
        font-size: 1.4rem;
        margin: 0 5rem;
        line-height: 1.4rem;
    }
}
