@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: normal;
    src: url(../assets/fonts/Whitney-Book.woff2) format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: italic;
    font-weight: normal;
    src: url(../assets/fonts/Whitney-BookItalic.woff2) format("woff2");
}

@font-face {
    font-family: "Whitney";
    font-style: normal;
    font-weight: bold;
    src: url(../assets/fonts/Whitney-Bold.woff2) format("woff2");
}

*,
::before,
::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --font: Whitney, Arial, Helvetica, sans-serif;
    --color-main: #27292c;
    --color-lines: rgba(255, 255, 255, 0.063);
    --font-color-base: #ffffff;
    --font-color-link: #00aff4;
}

$cat-colors: (
    html-css: #0b6db7,
    sass: #d1699a,
    javascript: #f3e55e,
    jquery: #74cdf3,
    react: #58d9f8,
    php: #8c91bc,
    nodejs: #62aa6c,
    regex: #ffffff,
    webdesign: #fe798f,
    spline-3d: #ff40ee,
    seo: #4d80ef,
    performances-optimisations: #8abb3b,
    hebergement-ndd: #4a71c6,
    independant: #91b1e3,
    obligations: #004d9d,
    emailing: #6a4d48,
    configPC: #58595b,
);

html {
    font-size: 62.5%;
}

body {
    width: 80vw;
    max-width: 85rem;
    margin: 5rem auto;
    font-family: var(--font);
    font-size: 1.8rem;
    color: var(--font-color-base);
    word-wrap: break-word;
    background-color: var(--color-main);
}

input,
button,
textarea,
select {
    font: inherit;
}

a {
    color: var(--font-color-link);
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
}

main {
    h1 {
        span {
            display: block;
            font-size: 0.5em;
            font-weight: normal;
            font-style: italic;
        }

        .last-update {
            font-weight: bold;
        }
    }

    h2 {
        padding-left: 3.5rem;
        margin: 4rem 0 2rem 0;

        a {
            color: var(--font-color-base);
            &:hover {
                text-decoration: none;
            }
        }
    }

    section {
        position: relative;
        margin-bottom: 5rem;

        &::before {
            content: "";
            position: absolute;
            bottom: 0;
            left: 1.3rem;
            width: 0.3rem;
            height: calc(100% - 4rem);
            border-radius: 0.3rem;
            background-color: var(--color-lines);
        }

        @each $name, $color in $cat-colors {
            &.#{$name}::before {
                background-color: $color;
            }
        }
    }

    section > ul {
        padding-left: 5rem;
    }

    li {
        list-style-type: none;

        &.titles {
            max-width: max-content;
            position: relative;
            font-size: 2rem;
            font-weight: bold;
            margin-bottom: 1rem;

            a {
                color: var(--font-color-base);
                &:hover {
                    text-decoration: none;
                }
            }

            .copyToDiscord {
                position: absolute;
                top: -0.3rem;
                right: -3.5rem;

                &:hover {
                    cursor: pointer;
                }
            }
            .copyMsg {
                position: absolute;
                top: 50%;
                word-break: normal;
                width: max-content;
                transform: translate(4rem, -50%);
                font-size: 1.6rem;
                text-decoration: none;
                color: var(--discordColor);
            }
        }

        &.titles:not(:first-child) {
            margin-top: 2rem;
        }

        &.titles::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 0.2rem;
            background-color: var(--font-color-base);
        }

        .infos {
            font-style: italic;
        }

        &.links {
            margin-bottom: 0.5rem;
        }
    }
}

footer {
    display: flex;
    justify-content: center;
    gap: 3rem;

    a {
        padding: 0.5rem 1.5rem;
        color: var(--font-color-base);
        font-size: 1.4rem;
        line-height: 1.4rem;
        text-align: center;
        border-radius: 1em;
        background-color: var(--color-lines);

        &:hover {
            text-decoration: none;
        }
    }
}
